@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-scrollbar::-webkit-scrollbar {
  height: 8px;
  background: red;
}

.horizontal-scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
  padding: 20px;
}

.horizontal-scrollbar::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 100vh;
  border: 2px solid rgb(190, 209, 226, 0.5);
  cursor: pointer;
}

.horizontal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 209, 226, 0.5);
}
